
body{
    background-color: lightblue;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-right: 120px;
    margin-left: 120px;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 5px 15px;
}

.hiddeninput {
  position: absolute;
  visibility: hidden;
  display: none;
}

.buttonlabel {
  cursor: pointer;
}

.mobile_only
{
    display: none;
}

.new_poll_textarea
{
    width: 400px;
    height: 80px;
}


/*Mobile definitions*/
@media screen and (max-width: 481px){

body{
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 3%;
    margin-left: 3%;
}

.mobile_invisible
{
    display: none;
}

.mobile_only
{
    display: inline;
}

.new_poll_textarea
{
    width: 240px;
    height: 120px;
}


}