<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >
<body>

<div th:fragment="footer">
    <br>
    <br>
    <br>
    <p align="center">
        <a href="/"><span th:if="${#httpServletRequest.requestURI}=='/' or ${#strings.contains(#httpServletRequest.requestURI, '/poll')} ">הצג עוד</span><span th:if="${#httpServletRequest.requestURI}!='/' and !${#strings.contains(#httpServletRequest.requestURI, '/poll')} ">ראשי</span></a>
        <span th:if="${#httpServletRequest.requestURI}!='/about'">| <a href="/about">מה זה?</a></span>
        <span th:if="${#httpServletRequest.requestURI}!='/new'">| <a href="/new">הוסף חדש</a></span>
        <span th:if="${#httpServletRequest.requestURI}!='/popular'">| <a href="/popular">הכי אהובים</a></span>
        <span th:if="${#httpServletRequest.requestURI}!='/onair'">| <a href="/onair">המשודרים</a></span>
        <span th:if="${#httpServletRequest.requestURI}!='/search'">| <a href="/search">חיפוש</a></span>
    </p>
</div>
</body>

</html>