<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >

<head th:insert="../fragments/header.html :: pagehead(resizeForMobile=true)"/>

<body>

<div th:insert="../fragments/header.html :: header"/>

<div style="width:90%; margin:0 auto;">
    <h2>מה זה סקר'ה?</h2>
    <b>סקר'ה</b> הוא אתר המאגד שלל שאלות סקר או "הצעות חוק" שנוגעות בדילמות הכי מטופשות מחיי היום-יום. הקונספט לקוח מפינה יומית בתוכנית הרדיו "טייכר וזרחוביץ'" בה מציעים מאזינים הצעות משלהם, וחלק מהסקרים עושים את דרכם גם לפה. אתם מוזמנים להוסיף הצעות משלכם, להצביע בעד או נגד הצעות של אחרים, לסמן את הסקרים האהובים עליכם, לשתף עם כל העולם, ולצעוק על המסך "יווו נכון! איך לא חשבתי על זה!!!" <br><br>
    האתר נבנה ומתוחזק ע"י אורן נמדר. לתלונות, הצעות לשיפור, או בשביל לשחד אותי כדי שהסקר'ה שלכם יגיע לראש הרשימה, פנו אלי: <a href="mailto:kermit11@gmail.com">kermit11@gmail.com</a>
</div>
<div th:insert="../fragments/footer.html :: footer"/>
</body>
</html>