<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >

<head th:insert="../fragments/header.html :: pagehead(resizeForMobile=true)"/>

<body>

<div th:insert="../fragments/header.html :: header"/>

<div style="width:90%; margin:0 auto;">
    <h2>סגירת האתר</h2>
    אחר-צהריים נאותים.<br><br>
    ב19/10/22 האתר ייסגר לאחר שנתיים של פעילות. לכל אורך התקופה האתר היה סוג של תחביב ושירות לציבור, אבל אף פעם לא הניב הכנסות (וגם לא היה אמור), והעלויות הכרוכות בתפעול האתר הביאו אותי להחלטה שלא להמשיך לשנה נוספת.<br><br>
    לפרטים נוספים, או אם תרצו לקבל קובץ אקסל שמכיל את כל ארכיון השאלות מ2016 עד 2022, כתבו לי ל: <a href="mailto:kermit11@gmail.com">kermit11@gmail.com</a>
</div>
<BR><BR>
<p style="font-size:24px;" align="center">
<a href="/">המשך לאתר</a>
</p>
</body>
</html>