<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >
<head>
    <title>סקר'ה</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/pagination.js}"> </script>
</head>
<body>

<div th:insert="../fragments/header.html :: header"/>

<div align="center" style="width:90%; margin:0 auto;">
    <h2><span th:text="${listingTitle}"/></h2>
    <br>
    <table width="100%">
        <thead>
        <tr>
            <th>הסקר'ה</th>
            <th>המחוקק</th>
            <th nowrap>כמה בעד, כמה נגד</th>
            <th>פורסם בתוכנית?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${polls.empty}">
            <td colspan="4"> כרגע אין מה להציג פה </td>
        </tr>
        <tr th:each="poll: ${polls}">
            <td> <span th:text="${poll.question}"/> </td>
            <td> <a th:href="@{/author/{name}(name=${poll.author.name})}"> <span th:text="${poll.author.name}"/> </a> </td>
            <td>
                <span th:text="${poll.voteTotals.forVotes}"/> &#128077;
                <span th:text="${poll.voteTotals.againstVotes}"/> &#128078;
                <span th:text="${poll.voteTotals.likes}"/> &#10084;
            </td>
            <td> <span th:text="${#dates.format(poll.publicationDate, 'dd/MM/yyyy')}"/>  </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>

    <div th:fragment="pagination" dir="ltr">
        <table border="1">
            <tr id="paginationRow"/>
        </table>
            <script th:inline="javascript">
            var pageSize = [[${pagInfo.pageSize}]];
            var pageStart = [[${pagInfo.pageStart}]];
            var totalSize = [[${pagInfo.totalSize}]];
            var pagTR = document.getElementById('paginationRow');

            createPaginationElement(pageSize, pageStart, totalSize, pagTR);
        </script>
    </div>
</div>

<div th:insert="../fragments/footer.html :: footer"/>

</body>

</html>