<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >
<head>
    <title>סקר'ה</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<h1>סקר'ה</h1>
<br>
<br>
<br>
<div align="center">
    <h1>כניסת משתמשים</h1>
    כדי להצביע ולהשפיע, יש להזדהות קודם דרך גוגל:
    <a href="/oauth2/authorization/google">כניסה</a>
</div>
<div th:insert="../fragments/footer.html :: footer"/>
</body>
</html>