<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl" >

<head th:insert="../fragments/header.html :: pagehead"/>

<body>

<div th:insert="../fragments/header.html :: header"/>

<div style="width:600px; margin:0 auto;">
    <form action="#" th:action="@{/addPoll}" method="post">
        <table>
            <tr>
                <td>השאלה: </td>
                <td> <textarea name="question" style="width: 400px; height: 80px"></textarea> </td>
            </tr>
            <tr>
                <td>שמך: </td>
                <td><input type="text" name="author" th:value="${curUser}"></td>
            </tr>
            <tr th:if="${isAdmin}">
                <td>תאריך הוספה: </td>
                <td><input type="date" name="publicationDate"></td>
            </tr>
            <tr><td colspan="2" align="center"><br><button type="submit">הוסף</button></td></tr>
        </table>
        <p></p>
        <p></p>
    </form>
</div>

<div th:insert="../fragments/footer.html :: footer"/>

</body>

</html>